In [192]:
import pandas as pd

stuDF = pd.read_csv('koramangala/stu.csv')
volDF = pd.read_csv('koramangala/vol.csv')

In [193]:
listOfActivities=['Drama','Dance','Computer','Science','Guitar','Singing','Public speaking','Art and Craft','Games']
activityAndSize=[]

for act in listOfActivities:
    activityAndSize.append({'act':act,'size':0})

In [194]:
activityAndSize=[{'act': 'Drama', 'size': 10},
 {'act': 'Dance', 'size': 40},
 {'act': 'Computer', 'size': 10},
 {'act': 'Science', 'size': 15},
 {'act': 'Guitar', 'size': 6},
 {'act': 'Singing', 'size': 6},
 {'act': 'Public speaking', 'size': 6},
 {'act': 'Art and Craft', 'size': 6},
 {'act': 'Games', 'size': 10}]

In [195]:
activityAndSize

[{'act': 'Drama', 'size': 10},
 {'act': 'Dance', 'size': 40},
 {'act': 'Computer', 'size': 10},
 {'act': 'Science', 'size': 15},
 {'act': 'Guitar', 'size': 6},
 {'act': 'Singing', 'size': 6},
 {'act': 'Public speaking', 'size': 6},
 {'act': 'Art and Craft', 'size': 6},
 {'act': 'Games', 'size': 10}]

In [196]:
masterKids=stuDF['name']

In [197]:
masterKids

0                 Riya
1              Saritha
2            Huligavya
3            Vignesh v
4                Leena
5               Hanifa
6              Bhavani
7              Pruthvi
8                 Ajay
9             Abhishek
10           Annamalai
11        Anusuya devi
12             Karunya
13               Kavya
14            Sandhya8
15        Sashi Kumar
16             Nivedha
17         Stephen Raj
18            Prajwal
19       Baratha Gowda
20         Vikas kumar
21           Indumathi
22             Tasmia
23              Nuhira
24              Rameez
25            Sinchana
26             William
27             Vidya B
28             Niteesh
29            Shreya K
            ...
51       Sharath Kumar
52               Divya
53               Robin
54        Nethravati Y
55    Deluwer Hossain
56       Mohammed Saif
57        Nethravati Y
58             Deepa R
59      Mohammed Zahid
60        Shashi Kumar
61              Sindhu
62             Ramya M
63             Kabitha
64          Madhumitha
65               Indhu
66                Sham
67            Ramya R.
68            Thabitha
69              Pooja7
70             Prakash
71             Sanjana
72           Harshitha
73               Shivu
74             Tamanna
75               Nisha
76              Suhail
77              Reshma
78               Punit
79              Ganesh
80        Tanvir pasha
Name: name, Length: 81, dtype: object

In [198]:
volDF[volDF['name']=='Suhail']

         act    session    name class  rating
30     Dance  Session 2  Suhail     5     5.0
109  Singing  Session 1  Suhail     5     3.0
187    Dance  Session 3  Suhail     5     5.0

In [205]:
# volDF[volDF['act']=='Dance' and volDF['name']=='Bhavani']
# print(volDF.query('act=="Dance" and name=="Bhavani"')['rating'].get_value(0))
#     print('act=="'+stuDF.iloc[i]['p1']+'" and name=="'+stuDF.iloc[i]['name']+'"')
#     print(volDF.query('act=="'+stuDF.iloc[i]['p1']+'" and name=="'+stuDF.iloc[i]['name']+'"'))
#     stuDF.loci[i]['p1']=stuDF.loci[i]['p1']+'-'

manualSort=[]
softSort=[]
for i in range(0,len(stuDF)):
    print(stuDF.iloc[i]['name'])
    print(len(volDF.query('name=="'+stuDF.iloc[i]['name']+'"')['session']))
    if len(volDF.query('name=="'+stuDF.iloc[i]['name']+'"')['session'])<3:
        manualSort.append(stuDF.iloc[i])
    if len(volDF.query('name=="'+stuDF.iloc[i]['name']+'"')['session'])==3:
        softSort.append(stuDF.iloc[i])
    print("\n\n")
    

    
    
    
# print(manualSort)

manDF=pd.DataFrame(manualSort)
manDF

Riya
3



Saritha
3



Huligavya
3



Vignesh v
1



Leena
3



Hanifa
2



Bhavani
2



Pruthvi
2



Ajay
3



Abhishek
2



Annamalai
1



Anusuya devi
2



Karunya
2



Kavya
3



Sandhya8
0



Sashi Kumar
3



Nivedha
0



Stephen Raj
3



Prajwal
0



Baratha Gowda
3



Vikas kumar
2



Indumathi
3



Tasmia
0



Nuhira
3



Rameez
3



Sinchana
2



William
2



Vidya B
2



Niteesh
3



Shreya K
2



Ranjith Kumar
2



Sandhya5
3



Jamuna
3



Gangamma
0



Devi
3



Tasmiya R
0



Pooja5
3



Nuhira
3



Jayshree
2



Gowri K
3



Daneil
3



Meesala Shruti
1



Ismail
3



Archana
3



Husna R
2



Veena B
2



Eeshwari
3



Mehak
2



Ramya
4



Vijay M
0



Sandhya Rani
1



Sharath Kumar
3



Divya
1



Robin
3



Nethravati Y
1



Deluwer Hossain
1



Mohammed Saif
1



Nethravati Y
1



Deepa R
2



Mohammed Zahid
0



Shashi Kumar
2



Sindhu
2



Ramya M
2



Kabitha
3



Madhumitha
3



Indhu
2



Sham
1



Ramya R.
1



Thabitha
1



Pooja7
3



Prakash
0



Sanjana
2



Harshitha
2



Shivu
3



Tamanna
3



Nisha
3



Suhail
3



Reshma
2



Punit
2



Ganesh
2



Tanvir pasha
2

                name class               p1               p2             p3
3          Vignesh v  6th           Science           Guitar        Singing
5             Hanifa     7            Drama            Games          Dance
6            Bhavani     5            Dance         Computer         Guitar
7            Pruthvi     5  Public speaking            Dance         Guitar
9           Abhishek   7th          Science            Games         Guitar
10         Annamalai     8            Dance           Guitar  Art and Craft
11      Anusuya devi   7th          Science           Guitar          Games
12           Karunya     6            Dance    Art and Craft       Computer
14          Sandhya8     8            Dance          Singing         Guitar
16           Nivedha     6            Dance          Singing  Art and Craft
18          Prajwal      5            Dance            Drama  Art and Craft
20       Vikas kumar     5            Dance  Public speaking       Computer
22           Tasmia      6            Dance           Guitar        Singing
25          Sinchana     5            Dance           Guitar       Computer
26           William   6th           Guitar          Science          Dance
27           Vidya B     6            Dance           Guitar        Singing
29          Shreya K     6            Dance    Art and Craft          Games
30     Ranjith Kumar     5  Public speaking            Dance        Science
33          Gangamma   6th            Dance          Singing         Guitar
35         Tasmiya R     8  Public speaking            Dance         Guitar
38          Jayshree     8            Dance          Singing         Guitar
41    Meesala Shruti   5th         Computer            Games         Guitar
44           Husna R     7            Dance            Games       Computer
45           Veena B     5            Dance         Computer        Singing
47             Mehak   6th           Guitar            Games       Computer
49          Vijay M      5           Guitar            Dance          Drama
50      Sandhya Rani     7           Guitar            Dance          Games
52             Divya   6th            Dance            Games         Guitar
54      Nethravati Y     7            Dance         Computer          Games
55  Deluwer Hossain      8            Dance          Science        Singing
56     Mohammed Saif     8            Dance          Singing  Art and Craft
57      Nethravati Y     7            Dance            Games       Computer
58           Deepa R     8    Art and Craft         Computer         Guitar
59    Mohammed Zahid     8          Science         Computer         Guitar
60      Shashi Kumar     8    Art and Craft            Dance          Drama
61            Sindhu     6          Science         Computer          Games
62           Ramya M     8           Guitar         Computer          Dance
65             Indhu     8         Computer          Singing          Dance
66              Sham     8          Science            Dance          Games
67          Ramya R.     7            Dance          Science         Guitar
68          Thabitha     5            Games         Computer        Science
70           Prakash     5  Public speaking            Dance         Guitar
71           Sanjana     7         Computer            Games          Dance
72         Harshitha     7          Science            Dance          Games
77            Reshma     5         Computer          Science          Dance
78             Punit     7          Science         Computer          Drama
79            Ganesh     6          Science          Singing         Guitar
80      Tanvir pasha     8          Science         Computer         Guitar

In [203]:
sfDf=pd.DataFrame(softSort)
len(sfDf)

32